<<<<<<< HEAD
header{
    Background-color:#FF0000;
    height: 70px;
    width:100%;
}
=======
header {
    background-color: #FF0000;
    height: 70px;
    width: 100%;
}
>>>>>>> dc2cf5baccec849500b9083ba1e66b9cf56e6023
